#text{
    background-color: lightgray;
    width: 320px;
    height: 150px;
    margin-left: 80px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 80px;
}
#text p{
    font-size: xx-large;
    font-weight: bold;
    color:white;
    text-align: left;
    padding-top: 16px;
    padding-left: 12px;

}
.topnav{
    border: 2px solid black;
}

.header img{

    float: left;
    width: 70px;
    height: 70px;
    background: none;

}

